/*********** BODY ***********/
.main {
	margin-top: 30px;
}

.hidden-div {
    margin-top: 30px !important;
	cursor: pointer;
}

/*********** TV SERIES LINE ***********/
.tvscontainer {
    background-color: white;
    -webkit-transition: .1s ease-in-out;
    margin-top: 1.3rem;
}

.tvscontainer:hover {
    background-color: #f2f2f2;
    -webkit-transition: .1s ease-in-out;
}

.settings-btn {
    width: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 5px
}

.maintitle {
    font-family: 'Vollkorn', serif !important;
}

.leftToSee-container {
    padding: 0.2rem 0 0 0;
}

/* ARROWS */
td {
    padding: 0px 2px  !important;
}

.left, .right, .double-left, .double-right, .options-btn {
    fill: #bfbfbf;
}

.left:hover, .right:hover, .double-left:hover, .double-right:hover, .options-btn:hover {
    fill: #001F3F;
    -webkit-transition: .2s ease-in-out;
    cursor: pointer;
}

.inactive-btn, .inactive-btn:hover, .inactive-btn:focus {
    color: #bfbfbf !important;
    border-color: #bfbfbf !important;
    box-shadow: none !important;
    outline: none !important;
    cursor: default !important;
}

.inactive-link, .inactive-link:hover, .inactive-link:focus {
    color: #bfbfbf !important;
    cursor: default !important;
}


/*********** TV SERIES SETTINGS ***********/
.optcontainer {
    margin-top: 1.3rem;
}

.options svg {
    width: 25px;
}

.archive {
    fill: #7FDBFF;
}

.trash {
    fill: #FF4136;
}

.close {
    fill: #FF4136;
}

.confirm {
    fill: #01FF70;
}

.archive:hover, .trash:hover, .close:hover, .confirm:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden !important;
}


/*********** FOOTER ***********/
.spacekeeper-bottom {
	bottom: 0;
	height: 50px;
}

.footer {
    position:fixed !important;
    width:100%;
    bottom:0;
    left: 0;
    text-align:center;
    background-color: white;
}
